.body {
 padding: 0;
 margin: 0;
}
 .navbar{
  background:#CCA772
 }
 .nav-link,
 .navbar-brand{
  color:#ffffff;
  cursor: pointer;
 }
 .nav-link{
  margin-right: 1em !important;
 }
 .nav-link:hover {
  color: #000000;
 }
 .navbar-collapse{
  justify-content: flex-end;
 }
