.body {
 padding: 0;
 margin: 0;
}
 .navbar{
  background:#CCA772
 }
 .nav-link,
 .navbar-brand{
  color:#ffffff;
  cursor: pointer;
 }
 .navbar-brand-text{
  color:#000000;
  font-weight: bold;
  font-family: cursive;
  font-size: 30px;
  padding-left: 2em;
 }
 .nav-link{
  margin-right: 1em !important;

 }
 .nav-link:hover {
  color: #000000;

 }
 .navbar-collapse{
  justify-content: center;
 }
 .header{
  background-color: #F1E6D8;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
 }
.description{
 position: absolute;
 top: 30%;
 margin: 2em;
 paddind: 2em;
 padding-top: 4em;
}
.description h1{
 color:#000000;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 2em;
}
.description button{
 border:1px solid #CCA772;
 background: #CCA772;
 color:#ffffff;

}
.row{
 padding-top: 1em;
 padding-left: 2em;
}
.dropdown-divider{

}
.dropdown-menu{
 background: #F1E6D8;
}



