<!DOCTYPE html>
<html lang="en">
<head>
    <!--Imports for bootstrap and springboot-->
    <meta charset="UTF-8">
    <meta name="viewport" conent="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="css/main.css" />

<title>Blue Moon Whippets</title>


</head>
<body>
<!--Setting up the nav bar with links and design-->
<nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#">
        <img src="Images\BMWLogosmall.png" width="90"
             height="90" alt="">
    </a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    Puppies
                </a>
                <!--Setting up the dropdown feature with two pages-->
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="Current_Pups.html">Current Puppies</a>
                    <div class="dropdown-divider" style="border-color:black;"></div>
                    <a class="dropdown-item" href="Old_Puppies.html">Past Puppies</a>
                </div>
            <li class="nav-item">
                <a class="nav-link" href="Parents.html">Parents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Testimonies.html">Testimonies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="About_Us.html">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Contact_Us.html">Contact Us</a>
            </li>

        </ul>
    </div>
</nav>
<header class="header">

    <div class="container">

        <div class="row justify-content-center">
            <!--Content is centered and formatted into a coloum-->
            <!--Content here is a placeholder until a database is connected-->
            <div class="col-6">

                <h1 style="text-align: center;">
                    Read some of our Testimonies
                </h1>

                    <img src="Images\Whippet_Parent_2.png" class="center">


                <p style="text-align: left;">
                    “In January of 2014 I started volunteering at ARF. It was the greatest decision of my life!
                    I mentioned that if they ever got a tuxedo with a white-tipped tail, I would want him.
                    Two weeks later, Piglet, now known as Roscoe, showed up. What a guy he turned out to be.
                    He follows me all over the house, greets me at the door with a “meow” when I come home, and
                    snuggles in bed sometimes, and I would not have it any other way. He settled in with my
                    nine other indoor cats, all rescues, very easily!”
                </p>
                <p style="text-align: right;">
                    -Peter Wells adopted Roscoe in July 2022.
                </p>
                    <img src="Images\Whippet_Parent_2.png"  class="center">
                <p style="text-align: left;">
                    “I had the most wonderful experience adopting a dog from ARF this summer.
                    Biscuit is a year-old terrier mix and the absolute sweetest girl, and she came house-trained, too.
                    Everyone who sees her loves her, and she has settled in perfectly to New York City life with
                    weekends in the country. She loves my two cats, although it’s not entirely mutual! I can’t say
                    enough about ARF. They have an experienced, caring staff, and I highly recommend this rescue
                    organization without reservation!”
                </p>
                <p style="text-align: right;">
                    -Bunny Goodwin adopted Biscuit in June 2022.
                </p>

            </div>
            </div>

    </div>

</header>

<!--    <h1> Hello </h1>
<a href="/Puppies.html">Puppies</a> -->

<!--Sets the background color to white, behind everything-->
<style type="text/css">
    body { background: white !important; }
</style>
<!--Imports for Bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>